[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "http://pypi.douban.com/simple/"
verify_ssl = false
name = "pypidouban"

[packages]
markdown = "*"
faker = "*"
fabric = {version = "*", index = "pypidouban"}

[dev-packages]

[requires]
python_version = "3.10"
